<% if @to_do_items %>   
    <% @to_do_items.each do |item| %>
        <p>
            <span>Task:</span> <%= item.task %> || <span>Description:</span> <%= item.description %>
        </p>
    <% end %>
<% elsif %>
    <h3>Nothing to do, I guess.... :(</h3>
<% end %>