<div class="container">
    <div class="row justify-content-center">
        <div class="col-3 py-2 blue-bubble">
            <h4>New Task:</h4>
        </div>
    </div>

    <br>

    <div class="row justify-content-center">
        <div class="col-5 py-2 white-bubble">
            <%= render partial: 'to_do_items/form', locals: { to_do_item: @to_do_item } %>
        </div>
    </div>
</div>