<% if current_user %>
    <!-- TBD... -->
    <div class="container">
        <div class="row">
            <%= link_to "View your ToDos!", user_to_do_items_path(current_user) %>
            <%= link_to "Log Out", destroy_user_session_path, method: 'delete' %>
        </div>
    </div>
<% else %>
    <div class="container">
        <div class="row">
            <%= link_to "All the items!", to_do_items_path %>
            <%= link_to "Add an item", new_to_do_item_path %>
        </div>
    </div>
<% end %>